*{
    scroll-behavior: smooth;
}

body{
    background-color: #242424;
    color: #ffffff;
    margin: 0px;
}

main{
    padding-top: 60px;
}

@media (max-width: 838px){
    main{
        padding: 0px;
    }
}

a{
    text-decoration: none;
    color: #ffffff;
}

main a{
    color: #62d0ff;
}

ul{
    display: flex;
}

li{
    display: inline;
    margin: 15px;
    font-size: 20px;
    font-weight: 700;
}

header{
    display: flex;
    position: fixed;
    background-color: #0c0c0cf5;
    width: 100%;
    height: 70px;
    top: 0;
}

@media (max-width: 838px){
    header{
        height: 0px;
    }
}

nav{
    position: fixed;
    margin-top: 0px;
}

@media (max-width: 838px){
    nav{
        position: relative;
        padding-right: 0px;
    }
}

#banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#banner a{
    margin-top: -120px;
}

.banner{
    width: 100%;
    max-height: 930px;
}

.logo-banner{
    object-fit: cover;
    height: 700px;
    margin-top: -820px;
}

@media (max-width: 1399px){
    .banner{
        margin-top: 10px;
        width: 0%;
    }
}

@media (max-width: 838px){
    .banner{
        margin-top: 0px;
    }
}

.presentation{
    width: 100%;
    max-height: 450px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(175deg, #191919 0%, #000000 90%);
}

.presentation img{
    width: 700px;
    height: 450px;
    object-fit: cover;
}

.presentation .txt{
    width: 100%;
    max-width: 1980px;
    font-size: 20px;
    padding-top: 5%;
    padding-left: 8%;
    padding-right: 15%;
}

@media (max-width: 1399px){
    .presentation img{
        width: 300px;
        height: 300px;
    }

    .presentation{
        max-height: 300px;
    }
}

@media (max-width: 838px){
    .presentation img{
        width: 0px;
    }

    .presentation .txt{
        padding-left: 22%;
        padding-right: 10%;
    }
}

/*--footer graphic parameters--*/
.footer {
    background: linear-gradient( 45deg, #000000, transparent ), linear-gradient( 45deg, #000000, transparent ), linear-gradient( -45deg, #000000, transparent );
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

span{
    margin: 30px;
    font-size: 30px;
    font-weight: 500;
}

@media (max-width: 838px){
    span{
        margin: 15px;
    }
}
/*---------------------------*/

.icon-bar {
    position: fixed;
    width: 100%;
    display: flex;
  }

  .icon-bar a {
    display: block;
    text-align: center;
    padding: 24.5px;
    transition: all 0.3s ease;
    color: white;
    font-size: 18px;
  }
  
  .icon-bar a:hover {
    background-color: rgb(185, 185, 185);
    color: #000; 
  }
  
.active {
    background-color: #003a52;
}

@media (max-width: 838px){
    .icon-bar{
        flex-direction: column;
        width: fit-content;
        background-color: #0c0c0cf5;
    }

    .icon-bar a{
        padding: 10px;
        font-size: 12px;
    }
}