*{
    scroll-behavior: smooth;
}

body{
    background-color: #242424;
    color: #ffffff;
    margin: 0px;
}

main{
    padding-top: 60px;
}

@media (max-width: 838px){
    main{
        padding-top: 0px;
    }
}

a{
    text-decoration: none;
    color: #ffffff;
}

main a{
    color: #62d0ff;
}

ul{
    display: flex;
}

li{
    display: inline;
    margin: 15px;
    font-size: 20px;
    font-weight: 700;
}

header{
    display: flex;
    position: fixed;
    background-color: #0c0c0cf5;
    width: 100%;
    height: 70px;
    top: 0;
}

@media (max-width: 838px){
    header{
        height: 10px;
    }
}

/*------Navbar-----*/
nav{
    position: fixed;
    margin-top: 0px;
}

.icon-bar {
    position: fixed;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .icon-bar a {
    display: block;
    text-align: center;
    padding: 24.5px;
    transition: all 0.3s ease;
    color: white;
    font-size: 18px;
  }
  
  .icon-bar a:hover {
    background-color: rgb(185, 185, 185);
    color: #000; 
  }
  
.active {
    background-color: #003a52;
}

@media (max-width: 838px){
    .icon-bar{
        background-color: #0c0c0cf5;
    }

    .icon-bar a{
        padding: 6px 10px;
        font-size: 14px;
        text-align: left;
    }
}
/*----------------------*/
#banner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#banner a{
    margin-top: -120px;
}

.banner{
    width: 100%;
    max-height: 930px;
}

.logo-banner{
    object-fit: cover;
    height: 700px;
    margin-top: -820px;
}

@media (max-width: 1399px){
    .banner{
        margin-top: 0px;
        height: 300px;
    }

    .logo-banner{
        height: 220px;
        margin-top: -140px;
    }
}

@media (max-width: 838px){
    .banner{
        margin-top: 10px;
    }
}

.presentation{
    width: 100%;
    max-height: 450px;
    display: flex;
    flex-direction: row;
    background: linear-gradient(175deg, #191919 0%, #000000 90%);
}

.presentation img{
    width: 700px;
    height: 450px;
    object-fit: cover;
}

.presentation .txt{
    width: 100%;
    max-width: 1980px;
    font-size: 20px;
    padding-top: 5%;
    padding-left: 8%;
    padding-right: 15%;
}

@media (max-width: 1399px){
    .presentation img{
        width: 300px;
        height: 300px;
    }

    .presentation{
        max-height: 300px;
    }

    .presentation .txt{
        padding-top: 2%;
    }
}

@media (max-width: 838px){
    .presentation img{
        width: 0px;
    }

    .presentation .txt{
        padding-left: 12%;
        padding-right: 8%;
        padding-top: 6%;
        font-size: 18px;
    }
}

/*---Site en construction---*/

.construction{
    width: 100%;
    height: 500px;
    background-color: #111;
}

.construction div{
    font-size: 30px;
    padding-top: 200px;
    text-align: center;
}

/*--footer graphic parameters--*/
.footer {
    background: linear-gradient( 45deg, #000000, transparent ), linear-gradient( 45deg, #000000, transparent ), linear-gradient( -45deg, #000000, transparent );
    height: 120px;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

@media (max-width: 868px){
    .footer{
        height: 80px;
        padding-top: 30px;
    }
}

span{
    margin: 30px;
    font-size: 30px;
    font-weight: 500;
}

@media (max-width: 838px){
    span{
        margin: 15px;
    }
}

.foot-left{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    position: absolute;
    left: 0;
    padding-left: 2%;
    padding-bottom: 1%;
    text-align: left;
}

.foot-right{
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    position: absolute;
    right: 0;
    padding-right: 2%;
    padding-bottom: 1%;
    text-align: right;
}

.foot-right p, .foot-left p{
    margin-top: 2px;
    margin-bottom: 15px;
}

.foot-right a, .foot-left a{
    color: #62d0ff;
}

@media (max-width: 739px){
    .footer{
        height: 120px;
    }

    .footer{
        height: 200px;
       
    }

    .foot-left{
        float: right;
        margin-bottom: 75px;
        padding: 0px;
        margin-left: 15px;  
    }

    .foot-right{
        text-align: left;
        left: 0;
        float: right;
        margin-left: 15px;
    }
}
/*---------------------------*/